/* FONTS */

.vintage {
  font-family: "Akaya Telivigala";
}


@media (max-width: 600px) {
  nav {
      gap: 20px;
  }

  nav a {
      font-size: 13px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .header {
      transition: none;
  }
}